<template>

  <div>
    <div id="qna-l">
      <h3>Questions & Answers</h3>

      {{ qnaId }}


      <div>Sort_By_dropdown   Direction_dropdown  Apply_button Reset_button </div>


      <div>_Question_ </div>
      <div>asked by _Name_ on _Date_ </div>

      <div>Answer: _answer detaios_ </div>
      <div>Response By _Name_ on _Date_ </div>

      <div>Was this answer helpful? Thumb_up # Thumb_down # </div>

      <div>icon Answer   icon See All Answers (3) </div>



      <div>Answer: _answer detaios_ </div>
      <div>Response By _Name_ on _Date_ </div>

      <div>Was this answer helpful? Thumb_up # Thumb_down # </div>


      <div>Answer: _answer detaios_ </div>
      <div>Response By _Name_ on _Date_ </div>

      <div>Was this answer helpful? Thumb_up # Thumb_down # </div>


      <a href="#" @click.prevent="share" v-if="gplus">Google+</a>
    </div>
  </div>



</template>

<script>
export default {
  props: {
    facebook: { type: Boolean, default: true },
    twitter: { type: Boolean, default: true },
    gplus: { type: Boolean, default: true },
    qnaId: { type: String, default: "error" }
  },
  methods: {
    share ($event) {
      window.alert('Share on ' + $event.target.innerHTML);
    }
  }
}
</script>

<style scoped>
  #qna-l a {
    display: inline-block;
    border: 1px solid #ddd;
    padding: 10px 20px;
    margin-right: 10px;
    text-transform: uppercase;
    color: #999;
    text-decoration: none;
  }
  #qna-l a:hover {
    color: #333;
    border-color: #888;
  }
</style>
