
clear out answer on cancel

<template>

  <div>

    <!-- template for the modal component -->
    <script type="text/x-template" id="modal-template">
      <transition name="modal">
        <div class="modal-mask">
          <div class="modal-wrapper">
            <div class="modal-container">

              <div class="modal-header">
                <slot name="header">
                  default header
                </slot>
              </div>

              <div class="modal-body">
                <slot name="body">
                  default body
                </slot>
              </div>

              <div class="modal-footer">
                <slot name="footer">
                  default footer
                  <button class="modal-default-button" @click="$emit('close')">
                    OK
                  </button>
                </slot>
              </div>
            </div>
          </div>
        </div>
      </transition>
    </script>


    <modal v-if="showModalAsk" @close="showModalAsk = false">
      <!-- overwrite the modal default settings -->
      <h3 slot="header">Ask Question</h3>
      <div slot="body">
        Question *
        <textarea v-model="newQuestion" placeholder="ask question" class=boxsizingborder name="newquestion" rows="5"></textarea>
      </div>

      <div slot="footer">

        <button class="modal-default-button" @click=" addQuestion()">
          Save
        </button>
        <button class="modal-default-button" @click="showModalAsk = false">
          Cancel
        </button>
      </div>
    </modal>

    <modal v-if="showModalAnswer" @close="showModalAnswer = false">
      <!-- overwrite the modal default settings -->
      <h3 slot="header">Anwer Question</h3>
      <div slot="body">
        Answer *
        <textarea v-model="newAnswer" placeholder="ask question" class=boxsizingborder name="newanswer" rows="5"></textarea>
      </div>

      <div slot="footer">

        <button class="modal-default-button" @click=" addAnswer()">
          Save
        </button>
        <button class="modal-default-button" @click="showModalAnswer = false">
          Cancel
        </button>
      </div>
    </modal>


    <div class="question-answer">

      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">

      <div>
        Questions &#38; Answers

        <button v-if="size === 'small'" id="show-modal" @click="showModalAsk = true">
          Ask Question
        </button>
      </div>

      <div  v-if="size === 'small'">

        <div>
          <div class="question" v-for="(question, index) in questions">

            <div v-if="index < displayLimit">

              <div>
                <div>
                  <b> {{ question.body }} </b>
                </div>
                <div>
                  Asked by {{question.userId}} on {{moment(question.updatedAt).format('DD/MM/YYYY')}}
                </div>
              </div>

              <button id="show-modal" @click="currentQuestion = question.postId; showModalAnswer = true">
                <icon name="edit" label="edit"></icon>
                Answer
              </button>
              <button @click="set_visible(index)">
                <icon name="comment-o" label="view"></icon>
                See Answers ({{getAnswerCount(question.postId)}})
              </button>

              <div v-if="is_visible(index) == true" >
                <!--  mrc - same as other view move to function  -->
                <div v-for="answer in answers" v-if="answer.parentId === question.postId">
                  <div>
                    <div>
                      <b>Answer:</b> {{ answer.body }}
                    </div>
                    <div>
                      Response by {{answer.userId}} on {{moment(answer.updatedAt).format('DD/MM/YYYY')}}
                    </div>
                  </div>
                  <div class="vote">
                    Was this answer helpful?
                    <button @click="modUp(answer)">
                      <icon name="thumbs-up" label="up"></icon>
                    </button>
                    {{ answer.modUpCount }}
                    <button @click="modDown(answer)">
                      <icon name="thumbs-down" label="down"></icon>
                    </button>
                    {{ answer.modDownCount }}
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="question-answer" v-if="size === 'large'">
      <div class="container">
        <div class="row">
          <div class="col col-md-8" >
            <div>

              <!-- sortby: date, most answers, most voted answer -->
              <select v-model="sortby">
                <option value='date'>Date</option>
                <option value='answers'>Number of Answers</option>
                <option value='votes'>Number of Votes</option>
              </select>

              <!-- and an ascending/descending drop down -->
              <select v-model="order">
                <option value='ascending'>ascending</option>
                <option value='descending'>descending</option>
              </select>

              <button @click="filterApply()">
                Apply
              </button>
              <button @click="filterReset()">
                Reset
              </button>
            </div>

            <div class="qna-large question" v-for="(question, index) in questions">

              <div>
                <div>
                  <b> {{ question.body }} </b>
                </div>
                <div>
                 Asked by {{question.userId}} on {{moment(question.updatedAt).format('DD/MM/YYYY')}}
                </div>
              </div>


              <!-- only show highest voted here  -->
              <div v-for="answer in answers" v-if="answer.parentId === question.postId">

                <div v-if="(inTopAnswer(answer.postId))" >
                  <div>
                    <div>
                      <b>Answer:</b> {{ answer.body }}
                    </div>
                    <div>
                      Response by {{answer.userId}} on {{moment(answer.updatedAt).format('DD/MM/YYYY')}}
                    </div>
                  </div>
                  <div class="vote">
                    Was this answer helpful?
                    <button @click="modUp(answer)">
                      <icon name="thumbs-up" label="up"></icon>
                    </button>
                    {{ answer.modUpCount }}
                    <button @click="modDown(answer)">
                      <icon name="thumbs-down" label="down"></icon>
                    </button>
                    {{ answer.modDownCount }}
                  </div>
                </div>
              </div>

              <button id="show-modal" @click="currentQuestion = question.postId; showModalAnswer = true">
                <icon name="edit" label="edit"></icon>
                Answer
              </button>
              <button @click="set_visible(index)">
                <icon name="comment-o" label="view"></icon>
                See All Answers ({{getAnswerCount(question.postId)}})
              </button>

              <div v-for="answer in answers" v-if="answer.parentId === question.postId">


                <div v-if="((is_visible(index) == true) && (!inTopAnswer(answer.postId)))" >
                  <div>
                    <div>
                      <b>Answer:</b> {{ answer.body }}
                    </div>
                    <div>
                      Response by {{answer.userId}} on {{moment(answer.updatedAt).format('DD/MM/YYYY')}}
                    </div>
                  </div>
                  <div class="vote">
                    Was this answer helpful?
                    <button @click="modUp(answer)">
                      <icon name="thumbs-up" label="up"></icon>
                    </button>
                    {{ answer.modUpCount }}
                    <button @click="modDown(answer)">
                      <icon name="thumbs-down" label="down"></icon>
                    </button>
                    {{ answer.modDownCount }}
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-6 col-md-4">
            <div class="breakdown">
              <div>
                Questions &#38; Answers Breakdown
              </div>

              <div class=breakdownBox>
                <div class=breakdownNum>
                  {{totalQuestions}}
                </div>
                <div class=breakdownLabel>
                  Questions
                </div>
              </div>
              <div class=breakdownBox>
                <div class=breakdownNum>
                  {{totalAnswers}}
                </div>
                <div class=breakdownLabel>
                  Answers
                </div>
              </div>
            </div>

            <div class="asknewquestion">
              <div>
                <div>
                  Ask a question
                </div>

                <div>
                  Question *
                  <textarea v-model="newQuestion" placeholder="ask question" class=boxsizingborder name="newquestion" rows="5"></textarea>
                </div>
              </div>

              <div>
                <button class="modal-default-button" @click=" addQuestion()">
                  Submit
                </button>
                <button class="modal-default-button" @click="newQuestion = ''">
                  Clear Values
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

  </div>


</template>

<script>
// style="background-color:yellow;"
// style="background-color:pink;"

//import Vue from 'vue'

// the moment var is put on the data object to access in the template
var moment = require('moment');


export default {

  props: {
    displayLimit:  { type: Number,  default: 3    },
    size:   { type: String,  default: "small"     },
    qnaId:  { type: String,  default: "error"     },
    sso:    { type: Number,  default: "000000000" },
  },
  data() {
    return {
      app: {
        uuid: '',
        id: '',
        name: ''
      },
      user: {
        sso: "000000000",
        name: ""
      },
      questions: [],
      answers: [],
      show_answers: [],
      showModalAsk: false,
      showModalAnswer: false,
      newQuestion : "",
      currentQuestion: 0,
      newAnswer : "",
      moment: moment,
      sortby: "date",
      order: "descending",
      totalQuestions: 0,
      totalAnswers: 0,
      topAnswers: [],

    }
  },
  created: function () {
    // console.log('loading API data');
    this.loadQnA();
  },
  /*
  watch: {
    sortby: {
      handler: function (val, oldVal) {
        console.log('sortby changed: ' + val + ' ' + 'oldVal: ' + oldVal)
        this.sortQuestions();
      },
      deep: true,
    },
    order: {
      handler: function (val, oldVal) {
        console.log('order changed: ' + val + ' ' + 'oldVal: ' + oldVal)
        this.sortQuestions();
      },
      deep: true,
    },
  },
  */
  methods: {

    inTopAnswer(postId) {
      if(this.topAnswers.indexOf(postId) >= 0) {
        return true;
      }
      return false;
    },
    // helper function for sorting arrays
    sortOrderCalc(c, d, order) {
      if(order === 'ascending') {
        return c - d;
      }
      else {
        return d - c;
      }
    },
    // large component question ordering
    filterApply() {
      this.sortQuestions();
    },
    // large component question ordering
    filterReset() {
      this.sortby = "date";
      this.order = "descending";
      this.filterApply();
    },
    // set the order of question for both components
    sortQuestions() {
      var newQuestions = Object.assign([], this.questions)

      if(this.sortby === 'date') {
        newQuestions.sort((a, b) => {
          var c = new Date(a.updatedAt);
          var d = new Date(b.updatedAt);
          return this.sortOrderCalc(c, d, this.order);
        });
      }
      else if(this.sortby === 'answers') {
        newQuestions.sort((a, b) => {
          var c = this.getAnswerCount(a.postId);
          var d = this.getAnswerCount(b.postId);
          // if they are the same, sort by date
          if(c === d) {
            c = new Date(a.updatedAt);
            d = new Date(b.updatedAt);
          }
          return this.sortOrderCalc(c, d, this.order);
        } );
      }
      else if(this.sortby === 'votes') {
        newQuestions.sort((a, b) => {
          var c = this.getVoteCount(a.postId);
          var d = this.getVoteCount(b.postId);
          // if they are the same, sort by date
          if(c === d) {
            c = new Date(a.updatedAt);
            d = new Date(b.updatedAt);
          }
          return this.sortOrderCalc(c, d, this.order);
        });
      }

      this.questions = newQuestions;
    },
    /* sort the answers
       1) group by question (parentId)
       2) then sort by number of up votes
       3) if the same upvotes, sort by date
     */
    sortAnswers() {
      // make a new array to Vue will notice the changes
      var newAnswers = Object.assign([], this.answers);

      newAnswers.sort((a, b) => {
        var c = a.parentId;
        var d = b.parentId;
        // if they are the same, sort by date
        if(c === d) {
          c = a.modUpCount;
          d = b.modUpCount;
        }
        if(c === d) {
          c = new Date(a.updatedAt);
          d = new Date(b.updatedAt);
        }
        return this.sortOrderCalc(c, d, this.order);
      });

      this.answers = newAnswers;


      // store the id of all highest sorted answers,
      // they are always displayed on the large component
      this.topAnswers = [];
      let currentQuestion = 0;
      for (var i in this.answers) {
        // get only the first answer
        if(currentQuestion != this.answers[i].parentId) {
          currentQuestion = this.answers[i].parentId;
          this.topAnswers.push(this.answers[i].postId);
        }
      }
      // console.log('topAnswers: ' + JSON.stringify(this.topAnswers));

    },
    // calculate the number of questions and answers
    setTotals() {
      this.totalQuestions = this.questions.length;
      this.totalAnswers = this.answers.length;
    },
    set_visible(index) {
      var newShowAnswers = Object.assign([], this.show_answers)
      newShowAnswers[index] = !newShowAnswers[index];
      // kludge, create a new object so it is re-rendered
      this.show_answers = newShowAnswers;
    },
    is_visible(index) {
      return this.show_answers[index];
    },
    getAnswerCount(questionId) {
      let count = 0;
      for (var i in this.answers) {
        if(this.answers[i].parentId === questionId) {
          count = count + 1;
        }
      }
      return(count);
    },
    // change this to have question in the name? - mrc
    getVoteCount(questionId) {
      // only checking up votes (ignoring down votes)
      let count = 0;
      for (var i in this.answers) {
        if(this.answers[i].parentId === questionId) {
          count = count + this.answers[i].modUpCount;
        }
      }
      return(count);
    },
    addAnswer() {
      // console.log('addAnswer: ' + this.newAnswer);
      // console.log('sso: ' + this.user.sso);
      // console.log('currentQuestion: ' + this.currentQuestion);

      fetch('http://localhost:8888/v1/posts/', {
        method: 'POST',
        mode: 'cors',
        redirect: 'follow',
        headers: new Headers({
          'Content-Type': 'application/json',
          'Cache-Control': 'no-cache'
        }),
        body: JSON.stringify({
          userId: this.user.sso,
          postTypeId: 2,
          applicationId: this.app.id,
          body: this.newAnswer,
          parentId: this.currentQuestion,
        })
      }).then(function() {
        // do checks here


      });

      this.newAnswer = "";
      this.showModalAnswer = false;
      this.loadQnA();


    },
    addQuestion() {

      // console.log('addQuestion: ' + this.newQuestion);
      // console.log('sso: ' + this.user.sso);

      fetch('http://localhost:8888/v1/posts/', {
        method: 'POST',
        mode: 'cors',
        redirect: 'follow',
        headers: new Headers({
          'Content-Type': 'application/json',
          'Cache-Control': 'no-cache'
        }),
        body: JSON.stringify({
          userId: this.user.sso,
          postTypeId: 1,
          applicationId: this.app.id,
          body: this.newQuestion,
        })
      }).then(function() {
        // do checks here


      });

      this.newQuestion = "";
      this.showModalAsk = false;
      this.loadQnA();

    },
    modUp(post) {
      // console.log('modUp: ' + post.postId);

      fetch('http://localhost:8888/v1/votes/', {
        method: 'POST',
        mode: 'cors',
        redirect: 'follow',
        headers: new Headers({
          'Content-Type': 'application/json',
          'Cache-Control': 'no-cache'
        }),
        body: JSON.stringify({
          userId: this.user.sso,
          postId: post.postId,
          voteTypeId: 1, // 1 == vote type UpMod
        })
      }).then((response) => {
        // do checks here

        if (response.status >= 400) {
          throw new Error("Bad response from server");
        }
        return response.json();
      }).then(vote => {

        // console.log(`modUp: ${JSON.stringify(vote)}`);

        // update the post with the updated vote count
        fetch(`http://localhost:8888/v1/posts/${post.postId}`, {
          method: 'PATCH',
          mode: 'cors',
          redirect: 'follow',
          headers: new Headers({
            'Content-Type': 'application/json',
            'Cache-Control': 'no-cache'
          }),
          body: JSON.stringify({
            modUpCount: vote.message.upmod,
            modDownCount: vote.message.downmod,
          })
        }).then((response) => {
          // do checks here
        if (response.status >= 400) {
          throw new Error("Bad response from server");
        }
        // console.log(`posts update: ${JSON.stringify(response)}`);

        for (var i in this.answers) {
          if(this.answers[i].postId === post.postId) {
            this.answers[i].modUpCount = vote.message.upmod;
            this.answers[i].modDownCount = vote.message.downmod;
          }
        }

        //this.questions = Object.assign({}, this.questions);
        this.answers = Object.assign({}, this.answers);
        //this.$forceupdate();

        });



      });

    },
    modDown(post) {
      // console.log('modDown: ' + post.postId);

      fetch('http://localhost:8888/v1/votes/', {
        method: 'POST',
        mode: 'cors',
        redirect: 'follow',
        headers: new Headers({
          'Content-Type': 'application/json',
          'Cache-Control': 'no-cache'
        }),
        body: JSON.stringify({
          userId: this.user.sso,
          postId: post.postId,
          voteTypeId: 2, // 2 == vote type DownMod
        })
      }).then((response) => {
        // do checks here
        if (response.status >= 400) {
          throw new Error("Bad response from server");
        }
        // console.log(`modDown: ${JSON.stringify(response)}`);

        return response.json();
      }).then(vote => {

        // update the post with the updated vote count
        fetch(`http://localhost:8888/v1/posts/${post.postId}`, {
          method: 'PATCH',
          mode: 'cors',
          redirect: 'follow',
          headers: new Headers({
            'Content-Type': 'application/json',
            'Cache-Control': 'no-cache'
          }),
          body: JSON.stringify({
            modUpCount: vote.message.upmod,
            modDownCount: vote.message.downmod,
          })
        }).then((response) => {
          // do checks here
        if (response.status >= 400) {
          throw new Error("Bad response from server");
        }
        // console.log(`posts update: ${JSON.stringify(response)}`);


        for (var i in this.answers) {
          if(this.answers[i].postId === post.postId) {
            this.answers[i].modUpCount = vote.message.upmod;
            this.answers[i].modDownCount = vote.message.downmod;
          }
        }

        //this.questions = Object.assign({}, this.questions);
        this.answers = Object.assign({}, this.answers);
        //this.$forceupdate();

        });

      });
    },
    loadQnA ($event) {

      // reset the data:
      this.app.uuid = '';
      this.app.id = '';
      this.app.name = '';
      this.questions = [];
      this.show_answers = [];

      this.answers = [];
      this.totalAnswers = 0;
      this.totalQuestions = 0;


      // const app_uuid = "aa1454b8-e5a1-41d3-aa18-dad8f7c50ea7";
      // props passed in:
      this.app.uuid = this.qnaId;
      this.user.sso = this.sso;


      // console.log('SSO');
      // console.log(this.sso);
      // console.log(this.user.sso);

      fetch(`http://localhost:8888/v1/applications/${this.app.uuid}`)
        .then(response => {
          if (response.status >= 400) {
            throw new Error("Bad response from server");
          }
          return response.json();
        }
        ).then(appdata => {
          // console.log(`app: ${JSON.stringify(appdata)}`);

          const app_id = appdata.message[0].applicationId;
          this.app.id = app_id;
          this.app.name = appdata.message[0].name;

          // console.log(`mrc***: ${JSON.stringify(this.app.id)}`);
          // console.log(`mrc---: ${JSON.stringify(this.app.name)}`);

          fetch(`http://localhost:8888/v1/posts?applicationId=${app_id}`)
            .then(response => {
              if (response.status >= 400) {
                throw new Error("Bad response from server");
              }
              return response.json();
            }).then(postData => {
              // console.log(`posts: ${JSON.stringify(postData)}`);

              for (var i in postData.message) {

                if(postData.message[i].postTypeId === 1) {
                  this.questions.push(postData.message[i]);
                  this.show_answers.push(false);
                }
                else if(postData.message[i].postTypeId === 2) {
                  this.answers.push(postData.message[i]);
                }

              }
              this.sortQuestions();
              this.sortAnswers()
              this.setTotals();
            });
        });
    }
  }
}


/*<style scoped >  - causing modal dialog issues*/

</script>

<style>

  .question-answer {
    border: 1px solid #ddd;
  }
  .question-answer a {
    display: inline-block;
    padding: 10px 20px;
    margin-right: 10px;
    color: #999;
    text-decoration: none;
  }
  .question-answer a:hover {
    color: #333;
    border-color: #888;
  }
  .vote button {
    display: inline-block;
    border: 1px solid #ddd;
    color: #999;
    text-decoration: none;
  }
  .vote button:hover {
    color: #333;
    border-color: #888;
  }
  .fa-icon {
    width: auto;
    height: 1em;
  }
  .breakdown  {
    border: 1px solid #ddd;
    color: #333;
    border-color: #888;
  }
  .breakdownBox  {
    //float: left;
  }
  .breakdownNum  {
    border: 1px solid #ddd;
    color: #111;
    border-color: #888;
    font-size: 4em;
  }
  .breakdownLabel  {
    border: 1px solid #ddd;
    color: #111;
    border-color: #888;
    font-size: 1.5em;
  }

  .qna-large  {
    border: 1px solid #ddd;
    color: #333;
    border-color: #888;
  }
  .asknewquestion  {
    border: 1px solid #ddd;
    color: #333;
    border-color: #888;
  }
  .boxsizingBorder {
    width: 100%;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
  }


.modal-mask {
  position: fixed;
  z-index: 9998;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, .5);
  display: table;
  transition: opacity .3s ease;
}

.modal-wrapper {
  display: table-cell;
  vertical-align: middle;
}

.modal-container {
  width: 300px;
  margin: 0px auto;
  padding: 20px 30px;
  background-color: #fff;
  border-radius: 2px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, .33);
  transition: all .3s ease;
  font-family: Helvetica, Arial, sans-serif;
}

.modal-header h3 {
  margin-top: 0;
  color: #42b983;
}

.modal-body {
  margin: 20px 0;
}

.modal-default-button {
  float: right;
}

/*
 * The following styles are auto-applied to elements with
 * transition="modal" when their visibility is toggled
 * by Vue.js.
 *
 * You can easily play with the modal transition by editing
 * these styles.
 */

.modal-enter {
  opacity: 0;
}

.modal-leave-active {
  opacity: 0;
}

.modal-enter .modal-container,
.modal-leave-active .modal-container {
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}

</style>
